@charset "UTF-8";
/* mise en place des imports des autres partiels*/
/*groupe utils avec les différentes variables*/
/*variables mises en places dans les autres parties du scss*/
@keyframes lissage {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.plat__1 {
  animation: lissage 1s;
}

.plat__2 {
  animation: lissage 1.5s;
}

.plat__3 {
  animation: lissage 2.5s;
}

/* animation coeur */
@keyframes heart-a2 {
  from {
    transform: scale(0.5);
    color: #9356DC;
    font-weight: bold;
  }
  to {
    transform: scale(1);
    color: #FF79DA;
    font-weight: bold;
  }
}
/*mise en page général */
/*mise en place de la page et la police et les liens cliquables*/
* {
  box-sizing: content-box;
  font-size: 1.8vh;
}

body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-size: 80%;
}

@font-face {
  font-family: "shrikhand";
  src: url("font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "robotoLight";
  src: url("font/Roboto-Light.ttf");
}
a {
  text-decoration: none;
  color: #fff;
}

/*structure des différents blocs */
/*intégration image du header (logo)*/
header img {
  width: 25vh;
  height: 4vh;
  display: block;
  margin: auto;
  padding: 25px;
}

header {
  display: flex;
  height: 8vh;
  overflow: hidden;
}
header a {
  display: block;
  position: relative;
  width: 4vh;
  height: 4vh;
}

/*structure et couleur du footer*/
footer {
  background-color: rgb(41, 39, 39);
  height: 24vh;
  color: #fff;
  width: 100%;
}
footer h3 {
  font-family: "shrikhand";
  margin-top: 0;
  display: block;
  margin-left: 3vh;
  padding-top: 2vh;
  font-size: 2.5vh;
  font-weight: 100;
}
footer a {
  font-family: "roboto";
  font-weight: bold;
  font-size: 2vh;
  margin-top: 1vh;
  display: inline-block;
}
footer nav {
  margin-left: 2.5vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}
footer i {
  margin-right: 1vh;
  width: 2vh;
}

/*menu exploration du site*/
#explore {
  height: 37vh;
  background-color: #f2f2f2;
  text-align: center;
}
#explore h1 {
  font-size: 3vh;
  width: 30vh;
  margin: auto;
  padding: 3vh;
  font-weight: 900;
}
#explore .button {
  font-weight: 700;
  white-space: nowrap;
}
#explore span {
  margin: auto;
  display: block;
  font-size: 2.35vh;
  font-family: "RobotoLight";
}

/*partie navigation pour accéder aux différentes pages*/
#navigate {
  height: 50vh;
  width: 100%;
}
#navigate h1 {
  margin: 3vh;
  font-size: 2.8vh;
  overflow: hidden;
}
#navigate .navigate__nav {
  background-color: #f2f2f2;
  border-radius: 25px;
  line-height: 10vh;
  text-align: center;
  margin: 2.5vh;
  margin-left: 4.2vh;
  width: 80%;
  height: 10vh;
  color: black;
  font-weight: 600;
  position: relative;
  font-size: 95%;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  /*boite chiffrée indiquant la liste*/
}
#navigate .navigate__nav:hover {
  background-color: #f2eafb;
}
#navigate .navigate__nav .navigate__box {
  display: block;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  line-height: 3.3vh;
  left: -1.48vh;
  bottom: 3vh;
  background-color: #9356DC;
}
#navigate .navigate__nav i {
  right: 35%;
}

/*partie localisation avec l'icone et la barre de recherche */
#localisation {
  overflow: hidden;
}
#localisation div {
  background-color: rgba(189, 177, 177, 0.341);
  display: flex;
  height: 7vh;
  align-items: center;
  box-shadow: -2px 20px 40px -14px #000;
  border-top: solid 2px rgba(189, 177, 177, 0.341);
}
#localisation div button {
  display: none;
}
#localisation div input {
  margin-right: 30vh;
  width: 55%;
  border: none;
  background-color: rgba(233, 229, 229, 0.341);
  font-weight: bold;
  font-size: 2vh;
}
#localisation div i {
  margin-left: 32%;
  width: 10%;
  font-size: 2.3vh;
}

.restaurant__group {
  display: flex;
  flex-direction: column;
}
.restaurant__group a {
  color: black;
}

/*card restaurant */
.restaurant__card {
  height: 28vh;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 3vh;
  margin-left: 4.5vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  position: relative;
}
.restaurant__card img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 67%;
  width: 100%;
}
.restaurant__card h2 {
  margin: 2%;
}
.restaurant__card span {
  margin: 2%;
  font-family: "RobotoLight";
}
.restaurant__card i {
  position: absolute;
  left: 85%;
  bottom: 15%;
  font-size: 3vh;
}
.restaurant__card i:active {
  animation: heart-a2 3s 0.2s both;
  cursor: pointer;
  transform-origin: 50% bottom;
}

/*bloc "nouveau"*/
.restaurant__new {
  position: absolute;
  right: 4%;
  top: 4%;
  background-color: #99E2D0;
  color: #338d75;
  width: 10vh;
  font-weight: bold;
  text-align: center;
  line-height: 4vh;
  height: 4vh;
  border-radius: 2px;
}

/*structure et mise en page des pages des restaurants*/
#restaurant {
  background: #f2f2f2;
  height: 140vh;
  width: 100%;
}
#restaurant h1 {
  font-size: 2.8vh;
  margin: 5vh;
  display: inline-block;
}

.background__image1 {
  background-image: url(images/restaurants/cite_rouge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image2 {
  background-image: url(images/restaurants/charonne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image4 {
  background-image: url(images/restaurants/folie_mericourt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image3 {
  background-image: url(images/restaurants/menilmontant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.menu__totality {
  height: 180vh;
}

.menu__totality__taller {
  height: 190vh;
}

.menu__totality, .menu__totality__taller {
  width: 100%;
}
.menu__totality h2, .menu__totality__taller h2 {
  font-family: "robotoLight";
  font-size: 2vh;
  font-weight: 200;
  margin: 2vh;
}
.menu__totality h3, .menu__totality__taller h3 {
  margin: 1vh;
  font-size: 2.5vh;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background__menu {
  position: absolute;
  top: 32vh;
  height: 180vh;
  width: 100%;
  background-color: #f7f3fd;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  z-index: -1;
}

.button {
  width: 35%;
}

.bloc-titre__like {
  justify-content: space-evenly;
  display: flex;
  margin-left: 3vh;
}
.bloc-titre__like h1 {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 137%;
  margin-right: 30%;
}
.bloc-titre__like div i {
  padding-top: 103%;
  font-size: 117%;
}

.menu__title {
  position: relative;
  margin-top: 5vh;
}

.border {
  position: absolute;
  width: 5vh;
  height: 0;
  margin-left: 2vh;
  top: 2.8vh;
  border-top: solid 3px #99E2D0;
}

.plat__1, .plat__2, .plat__3 {
  height: 9vh;
  width: 95%;
  border-radius: 2vh;
  margin: 1vh;
  margin-top: 2vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  position: relative;
  background-color: #fff;
}

.plat__1:hover, .plat__2:hover, .plat__3:hover {
  cursor: pointer;
  width: 75.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: width 0.7s;
}
.plat__1:hover .check, .plat__2:hover .check, .plat__3:hover .check {
  transform: translateX(95%);
  transition: transform 0.5s;
  z-index: 2;
  opacity: 1;
}
.plat__1:hover .cross, .plat__2:hover .cross, .plat__3:hover .cross {
  transform: rotate(310deg);
  transition: transform 1s;
}

.check {
  transform: translateX(50%);
}

.cross {
  width: 0.5vh;
  height: 0.3vh;
  border-bottom: solid 0.2em #99E2D0;
  border-left: solid 0.2em #99E2D0;
  border-top: none;
  border-right: none;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  top: 45%;
  right: 41%;
}

.check {
  position: absolute;
  height: 9.1vh;
  width: 20vw;
  opacity: 0;
  background-color: #99E2D0;
  right: 0;
  top: 0;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
}

.description {
  margin-left: 2%;
  margin-top: 3px;
  font-family: "robotoLight";
  font-size: 2vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  white-space: nowrap;
  margin-right: 4%;
  margin-top: 3px;
  font-weight: bold;
  font-size: 2vh;
}

.text {
  display: flex;
  justify-content: space-between;
}
.text p {
  display: block;
}

/*les boutons et placements des icones*/
/*positionnement des icones et taille*/
#navigate i {
  position: absolute;
  right: 14vh;
  bottom: 3.8vh;
  color: rgba(0, 0, 0, 0.341);
  width: 100%;
  font-size: 2.5vh;
}
#navigate i:hover {
  color: #9356DC;
}

/* fleche du header */
header i {
  font-size: 2.2vh;
  position: absolute;
  width: 2vh;
  top: 90%;
  left: 65%;
  color: black;
}

/*forme et couleurs des boutons principaux avec survol*/
.button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30vh;
  width: 200px;
  padding: 18px;
  margin-top: 4vh;
  color: #fff;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  border: none;
}
.button:hover {
  background: linear-gradient(#fface8, #ae80e5);
  cursor: pointer;
  box-shadow: 1px 5px 5px #000;
}
.button button {
  border: none;
}

.entree__button {
  height: 3vh;
  width: 3vh;
  background-color: white;
  margin: auto;
  margin-top: 3vh;
  border-radius: 50%;
}

/*le chargement*/
/* boite loader main page*/
.spinner__container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  background-color: #fff;
  animation: nomore 0s 3s both;
}

/*loader */
.spinner {
  top: 40%;
  left: 25%;
  position: absolute;
  height: 15vh;
  width: 15vh;
  border: solid 25px #9356DC;
  border-radius: 50%;
  border-top-color: #FF79DA;
  border-bottom-color: #99E2D0;
  animation: rotate 3s;
  z-index: 1;
}

/* rotation loader*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1040deg);
  }
}
/*arrêt loader */
@keyframes nomore {
  0% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}
/*coeur qui charge*/
@keyframes stayred {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}
/*media querries*/
@media only screen and (min-width: 992px) {
  body {
    background-color: #f7f3fd;
  }

  header p {
    margin-left: 85vw;
    margin-top: 7vh;
    display: inline-block;
    color: #000;
    font-size: 2vh;
    white-space: nowrap;
  }

  header .fa-solid {
    display: none;
  }

  .background__image3, .background__image2, .background__image4, .background__image1 {
    position: absolute;
    top: 10rem;
    opacity: 0.8;
    border-radius: 25px;
    height: 108.3rem;
    width: 80%;
    margin-left: 10rem;
    object-fit: cover;
  }

  .background__image2 {
    height: 114.3rem;
  }

  .menu__totality__taller .background__menu {
    height: 106.6rem;
  }

  #menu__totality .check {
    top: 75%;
    right: 75%;
  }

  .background__menu {
    width: 50%;
    margin-left: 25%;
    height: 100.6rem;
    opacity: 0.9;
  }

  .menu__title {
    margin-left: 47%;
  }
  .menu__title .border {
    width: 6%;
    padding-bottom: 115px;
  }

  .plat__1, .plat__2, .plat__3 {
    width: 30%;
    height: 6%;
    margin: auto;
  }

  .bloc-titre__like {
    margin-left: 22%;
    margin-top: 10rem;
  }
  .bloc-titre__like i:active {
    animation: heart-a2 3s 0.2s both;
    cursor: pointer;
    transform-origin: 50% bottom;
  }
  .bloc-titre__like h1 {
    position: relative;
    font-size: 155%;
  }

  .plat__1:hover, .plat__2:hover, .plat__3:hover {
    width: 35%;
  }
  .plat__1:hover .check, .plat__2:hover .check, .plat__3:hover .check {
    transform: translateX(95%);
    transition: transform 0.5s;
    z-index: 2;
    opacity: 1;
  }
  .plat__1:hover .cross, .plat__2:hover .cross, .plat__3:hover .cross {
    transform: rotate(310deg);
    transition: transform 1s;
  }

  .cross {
    top: 40%;
    right: 42%;
  }

  .check {
    height: 100%;
    width: 15%;
  }

  .entree__button {
    height: 35%;
    width: 35%;
  }

  h3 {
    padding: 2%;
  }

  .bloc-titre__like div {
    position: absolute;
    height: 10vh;
    width: 10vh;
    font-size: 3vh;
    left: 70%;
    top: 25%;
  }
}
@media only screen and (min-width: 992px) {
  /*index */
  body {
    width: 100%;
  }

  header {
    background: #f7f3fd;
    height: 15vh;
  }
  header img {
    margin: 2vh;
    height: 5vh;
  }
  header .spinner {
    display: none;
  }

  #localisation div {
    border-top: none;
    margin: auto;
    background: #f7f3fd;
    position: relative;
  }
  #localisation div i {
    display: none;
  }
  #localisation div input {
    margin: 33vw;
    width: 17vw;
    height: 3.7vh;
  }
  #localisation div button {
    border: none;
    height: 4vh;
    width: 15vw;
    position: absolute;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    top: 20%;
    right: 34%;
    display: block;
  }
  #localisation div button:hover {
    cursor: pointer;
  }

  #localisation {
    margin-top: 1vh;
  }

  #explore {
    background-color: #fff;
    position: relative;
    height: 20vh;
    margin-top: 5%;
  }
  #explore h1 {
    font-size: 2vw;
    margin-left: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #explore span {
    font-size: 1.5vw;
    white-space: nowrap;
    margin-right: 43%;
  }
  #explore button {
    position: absolute;
    margin-left: 3vh;
    bottom: 42%;
    right: 15%;
  }

  #navigate {
    margin-top: 10vh;
    display: flex;
    justify-content: flex-start;
    height: 25vh;
  }
  #navigate h1 {
    font-size: 175%;
    line-height: 185%;
    text-overflow: ellipsis;
  }
  #navigate a {
    margin-left: 1%;
  }
  #navigate nav {
    display: flex;
  }
  #navigate .navigate__nav {
    display: inline-block;
    width: 20vw;
    height: 8vh;
    line-height: 8vh;
    font-size: 1vw;
    margin-left: 5vw;
  }
  #navigate .navigate__nav .navigate__box {
    bottom: 75%;
    left: 48%;
  }
  #navigate .navigate__nav i {
    bottom: 35%;
    right: 38%;
  }

  .button {
    width: 15%;
  }

  #restaurant {
    height: 100vh;
  }

  .restaurant__group {
    flex-direction: row;
    margin-right: 1vw;
    row-gap: 2vw;
  }

  .restaurant__card {
    height: 75vh;
  }
  .restaurant__card h2 {
    font-size: 1.3rem;
  }
  .restaurant__card span {
    font-size: 1.2rem;
  }
  .restaurant__card img {
    height: 85%;
    object-fit: cover;
  }
  .restaurant__card i {
    bottom: 5%;
  }

  footer {
    height: 40%;
  }
  footer h3 {
    text-align: center;
  }
  footer nav {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
    padding-bottom: 5vh;
  }
  footer nav a {
    font-size: 2vh;
    font-weight: 100;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #navigate {
    height: 50%;
  }
  #navigate .navigate__nav {
    margin-left: 10vw;
    line-height: 10.9vh;
    margin-bottom: 5vh;
  }

  #navigate .navigate__nav .navigate__box {
    bottom: 85%;
    left: 48%;
  }

  .navigate__nav {
    padding-bottom: 3%;
    font-size: 115%;
    text-align: center;
  }
  .navigate__nav .fa-solid {
    position: absolute;
    top: 32%;
    left: -35%;
  }

  footer {
    height: 55%;
  }

  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5vh;
  }
  footer nav a {
    font-weight: 100;
    margin-right: 5%;
  }

  #restaurant {
    padding-bottom: 7%;
  }

  .restaurant__card {
    margin: auto;
    margin-bottom: 5%;
  }

  body {
    width: 100%;
  }

  .background__image1, .background__image2, .background__image3, .background__image4 {
    position: absolute;
    top: 5rem;
    opacity: 0.8;
    border-radius: 25px;
    height: 108.3rem;
    object-fit: cover;
  }

  .background__menu {
    width: 100%;
    height: 90.6rem;
    opacity: 0.6;
  }

  .bloc-titre__like {
    position: relative;
  }
  .bloc-titre__like i {
    top: 35%;
    right: 40%;
  }
  .bloc-titre__like i:active {
    animation: heart-a2 3s 0.2s both;
    cursor: pointer;
    transform-origin: 50% bottom;
  }

  .check {
    width: 27%;
  }

  .cross {
    right: 45%;
  }

  .bloc-titre__like {
    margin-top: 27vh;
  }
  .bloc-titre__like i {
    left: 85%;
  }

  .menu__totality {
    height: 90rem;
    width: 80%;
  }

  .plat__1, .plat__2, .plat__3 {
    margin-left: 5rem;
  }

  .menu__totality__taller {
    width: 70%;
    height: 95rem;
  }
  .menu__totality__taller .plat__1, .menu__totality__taller .plat__2, .menu__totality__taller .plat__3 {
    margin-left: 7rem;
    position: relative;
  }
  .menu__totality__taller i {
    left: 115%;
    top: 30%;
  }
  .menu__totality__taller .background__image2 {
    height: 110rem;
  }
  .menu__totality__taller .background__menu {
    height: 95.6rem;
  }

  .button__main-page {
    margin: auto;
    width: 70%;
    margin-left: 20%;
    width: 85%;
  }
  .button__main-page .button {
    width: 70%;
    margin-top: 25%;
  }

  .button {
    font-size: 115%;
  }
}

/*# sourceMappingURL=style.css.map */
