@charset "UTF-8";
/* mise en place des imports des autres partiels*/
/*groupe utils avec les différentes variables*/
/*variables mises en places dans les autres parties du scss*/
@keyframes lissage {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.plat__1 {
  animation: lissage 1s;
}

.plat__2 {
  animation: lissage 1.5s;
}

.plat__3 {
  animation: lissage 2.5s;
}

/* animation coeur */
@keyframes heart-a2 {
  from {
    transform: scale(0.5);
    color: #9356DC;
    font-weight: bold;
  }
  to {
    transform: scale(1);
    color: #FF79DA;
    font-weight: bold;
  }
}
/*mise en page général */
/*mise en place de la page et la police et les liens cliquables*/
* {
  box-sizing: content-box;
  font-size: 1.8vh;
}

body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "shrikhand";
  src: url("font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "robotoLight";
  src: url("font/Roboto-Light.ttf");
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

/*structure des différents blocs */
/*intégration image du header (logo)*/
header img {
  width: 25vh;
  height: 4vh;
  display: block;
  margin: auto;
  padding: 25px;
}
@media (min-width: 768px) {
  header img {
    margin: 0;
    width: 15vh;
  }
}

header {
  display: flex;
  height: 8vh;
  overflow: hidden;
}
header a {
  display: block;
  position: relative;
  width: 4vh;
  height: 4vh;
}
@media (min-width: 768px) {
  header {
    height: 10vh;
  }
}

/*structure et couleur du footer*/
footer {
  background-color: rgb(41, 39, 39);
  height: 24vh;
  color: #fff;
  width: 100%;
}
footer h3 {
  font-family: "shrikhand";
  margin-top: 0;
  display: block;
  margin-left: 3vh;
  padding-top: 2vh;
  font-size: 2.5vh;
  font-weight: 100;
}
footer a {
  font-family: "roboto";
  font-weight: bold;
  font-size: 2vh;
  width: 70%;
  margin-top: 1vh;
}
footer nav {
  margin-left: 2.5vh;
  margin-top: 2vh;
  display: block;
  display: flex;
  flex-direction: column;
}
footer i {
  margin-right: 1vh;
  width: 2vh;
}

/*menu exploration du site*/
#explore {
  overflow: hidden;
  height: 37vh;
  background-color: #f7f3fd;
  text-align: center;
}
#explore h1 {
  font-size: 3vh;
  width: 30vh;
  margin: auto;
  padding: 3vh;
  font-weight: 900;
}
#explore span {
  width: 40vh;
  margin: auto;
  display: block;
  font-size: 2.35vh;
  font-family: "RobotoLight";
}

/*partie navigation pour accéder aux différentes pages*/
#navigate {
  height: 50vh;
  width: 100%;
}
#navigate h1 {
  margin: 3vh;
  font-size: 2.8vh;
  overflow: hidden;
}
#navigate .navigate__nav {
  background-color: #f7f3fd;
  border-radius: 25px;
  line-height: 10vh;
  text-align: center;
  margin: 2.5vh;
  margin-left: 4.2vh;
  width: 80%;
  height: 10vh;
  color: black;
  font-weight: 600;
  position: relative;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  /*boite chiffrée indiquant la liste*/
}
#navigate .navigate__nav:hover {
  background-color: #f2eafb;
}
#navigate .navigate__nav .navigate__box {
  display: block;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  line-height: 3.3vh;
  left: -1.48vh;
  bottom: 3vh;
  background-color: #9356DC;
}

/*partie localisation avec l'icone et la barre de recherche */
#localisation {
  overflow: hidden;
}
#localisation div {
  background-color: rgba(189, 177, 177, 0.341);
  display: flex;
  height: 7vh;
  align-items: center;
  box-shadow: -2px 20px 40px -14px #000;
  border-top: solid 2px rgba(189, 177, 177, 0.341);
}
#localisation div input {
  margin-right: 30vh;
  width: 50%;
  border: none;
  background-color: rgba(233, 229, 229, 0.341);
  font-weight: bold;
  font-size: 2vh;
}
#localisation div i {
  margin-left: 32%;
  width: 10%;
  font-size: 2.3vh;
}
@media (min-width: 768px) {
  #localisation div i {
    display: none;
  }
}
@media (min-width: 768px) {
  #localisation div input {
    width: 17vh;
  }
  #localisation div form {
    display: flex;
  }
}

.restaurant__group {
  display: flex;
  flex-direction: column;
}
.restaurant__group a {
  color: black;
}

/*card restaurant */
.restaurant__card {
  height: 28vh;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 3vh;
  margin-left: 4.5vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  position: relative;
}
.restaurant__card img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 67%;
  width: 100%;
}
.restaurant__card h2 {
  margin: 2%;
}
.restaurant__card span {
  margin: 2%;
  font-family: "RobotoLight";
}
.restaurant__card i {
  position: absolute;
  left: 85%;
  bottom: 15%;
  font-size: 3vh;
}
.restaurant__card i:active {
  animation: heart-a2 3s 0.2s both;
  cursor: pointer;
  transform-origin: 50% bottom;
}

/*bloc "nouveau"*/
.restaurant__new {
  position: absolute;
  right: 4%;
  top: 4%;
  background-color: #99E2D0;
  color: #338d75;
  width: 10vh;
  font-weight: bold;
  text-align: center;
  line-height: 4vh;
  height: 4vh;
  border-radius: 2px;
}

/*structure et mise en page des pages des restaurants*/
#restaurant {
  background: #f7f3fd;
  height: 140vh;
  width: 100%;
}
#restaurant h1 {
  font-size: 2.8vh;
  margin: 5vh;
  display: inline-block;
}

.background__image1 {
  background-image: url(images/restaurants/cite_rouge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image2 {
  background-image: url(images/restaurants/charonne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image4 {
  background-image: url(images/restaurants/folie_mericourt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.background__image3 {
  background-image: url(images/restaurants/menilmontant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: -2;
}

.menu__totality {
  height: 180vh;
}

.menu__totality__taller {
  height: 190vh;
}

.menu__totality, .menu__totality__taller {
  width: 100%;
}
.menu__totality h2, .menu__totality__taller h2 {
  font-family: "robotoLight";
  font-size: 2vh;
  font-weight: 200;
  margin: 2vh;
}
.menu__totality h3, .menu__totality__taller h3 {
  margin: 1vh;
  font-size: 2.5vh;
  text-align: left;
  padding-top: 3%;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background__menu {
  position: absolute;
  top: 32vh;
  height: 180vh;
  width: 100%;
  background-color: #f7f3fd;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  z-index: -1;
}

.bloc-titre__like {
  position: relative;
  display: flex;
  margin-top: -5vh;
  margin-left: 3vh;
}
.bloc-titre__like h1 {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 3vh;
}
.bloc-titre__like i {
  position: absolute;
  font-size: 3vh;
  right: 12%;
  top: 35%;
}

.menu__title {
  position: relative;
  margin-top: 5vh;
}

.border {
  position: absolute;
  width: 5vh;
  height: 0;
  margin-left: 2vh;
  top: 2.8vh;
  border-top: solid 3px #99E2D0;
}

.plat__1, .plat__2, .plat__3 {
  height: 9vh;
  width: 95%;
  border-radius: 2vh;
  margin: 1vh;
  margin-top: 2vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
  position: relative;
  background-color: #fff;
}

.plat__1:hover, .plat__2:hover, .plat__3:hover {
  cursor: pointer;
  width: 75.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: width 0.7s;
}
.plat__1:hover .check, .plat__2:hover .check, .plat__3:hover .check {
  transform: translateX(73px);
  transition: transform 0.5s;
  z-index: 2;
  opacity: 1;
}
.plat__1:hover .cross, .plat__2:hover .cross, .plat__3:hover .cross {
  transform: rotate(140deg);
  transition: transform 1s;
}

.check {
  transform: translateX(50px);
}

.cross {
  width: 0.5vh;
  height: 0.3vh;
  border-bottom: solid 2px #99E2D0;
  border-left: solid 2px #99E2D0;
  border-top: none;
  border-right: none;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  rotate: 180deg;
  top: 45%;
  right: 41%;
}

.check {
  position: absolute;
  height: 9.1vh;
  width: 20vw;
  opacity: 0;
  background-color: #99E2D0;
  right: 0;
  top: 0;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  box-shadow: 2px 10px 15px rgba(189, 177, 177, 0.341);
}

.description {
  margin-left: 2%;
  margin-top: 3px;
  font-family: "robotoLight";
  font-size: 2vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  white-space: nowrap;
  margin-right: 4%;
  margin-top: 3px;
  font-weight: bold;
  font-size: 2vh;
}

.text {
  display: flex;
  justify-content: space-between;
}
.text p {
  display: block;
}

/*les boutons et placements des icones*/
/*positionnement des icones et taille*/
#navigate i {
  position: absolute;
  right: 14vh;
  bottom: 3.8vh;
  color: rgba(0, 0, 0, 0.341);
  width: 100%;
  font-size: 2.5vh;
}
#navigate i:hover {
  color: #9356DC;
}

/* fleche du header */
header i {
  font-size: 2.2vh;
  position: absolute;
  width: 2vh;
  top: 90%;
  left: 65%;
  color: black;
}

/*forme et couleurs des boutons principaux avec survol*/
.button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30vh;
  width: 33vh;
  height: 8vh;
  margin: auto;
  margin-top: 4vh;
  color: #fff;
  font-size: 2.3vh;
  font-weight: bolder;
  text-align: center;
  line-height: 7vh;
  margin-top: 8vh;
  border: none;
}
.button:hover {
  background: linear-gradient(#fface8, #ae80e5);
  cursor: pointer;
}
.button button {
  border: none;
}

.entree__button {
  height: 3vh;
  width: 3vh;
  background-color: white;
  margin: auto;
  margin-top: 3vh;
  border-radius: 50%;
}

/*le chargement*/
/* boite loader main page*/
.spinner__container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  background-color: #fff;
  animation: nomore 3s 1s both;
}

/*loader */
.spinner {
  top: 25%;
  left: 30%;
  position: absolute;
  height: 15vh;
  width: 15vh;
  border: solid 25px #9356DC;
  border-radius: 50%;
  border-top-color: #FF79DA;
  border-bottom-color: #99E2D0;
  animation: rotate 3s;
  z-index: 1;
}

/* rotation loader*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*arrêt loader */
@keyframes nomore {
  0% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}
@keyframes stayred {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
