footer {
    background-color: rgb(82, 78, 78);
    height: 23vh;
    color: #fff;
    font-family: "shrikhand";
    h3 {
        display: block;
        margin-left: 3vh;
        padding-top: 2vh;
        font-size: 2.5vh;
        font-weight: 100;
    }
    
    li{
        font-family: "roboto";
        font-weight: bold;
        font-size: 2vh;
        margin: .9vh;
        a{
            display: flex;
            width: 45%;
        }
    }
    nav {
        margin-left: 2.5vh;
        margin-top: 2vh;
        display: block;
    }
    i{
        margin-right: 1vh;
        width: 2vh;
    }

      
}