/*structure et couleur du footer*/
footer {
    
    
    
   
    background-color: rgb(41, 39, 39);
    height: 24vh;
    color: #fff;
    width: 100%;
    
    h3 {
        font-family: 'shrikhand';
        margin-top: 0;
        display: block;
        margin-left: 3vh;
        padding-top: 2vh;
        font-size: 2.5vh;
        font-weight: 100;
    }
    
    a{
        font-family: "roboto";
        font-weight: bold;
        font-size: 2vh;
        width: 70%;
        margin-top: 1vh;
    }
    nav {
        margin-left: 2.5vh;
        margin-top: 2vh;
        display: block;
        display: flex;
        flex-direction: column;
    }
    i{
        margin-right: 1vh;
        width: 2vh;
    }

      
}