/*partie localisation avec l'icone et la barre de recherche */
#localisation {
    overflow: hidden;
    
       
        div { 
        background-color: $localisation-color;
        display: flex;
        height: 7vh;
        align-items: center;
        box-shadow: -2px 20px 40px -14px #000;
        border-top: solid 2px $localisation-color;
        button {
            display: none;
        }
        
        input {
            margin-right: 30vh;
            width: 55%;
            border: none;
            background-color: adjust-color($localisation-color,$lightness: 19%);
            font-weight: bold;
            font-size: 2vh;
            
            
        }
        
            
        i{  
            
            margin-left: 32%;
            width:10%;
            font-size: 2.3vh;
           }
        }}
        
        