/*partie navigation pour accéder aux différentes pages*/
#navigate {
    height: 50vh;
    
    width: 100%;
    h1 {
        margin: 3vh;
        font-size: 2.8vh;
        overflow: hidden;


    }
    
    .navigate__nav{
       background-color:  $background-main;
       border-radius: 25px;
        line-height: 10vh;
        text-align: center;
        margin: 2.5vh;
        margin-left: 4.2vh;
        width: 80%;
        height: 10vh;
        color: black;
        font-weight: 600;
        position: relative;
        font-size: 95%;
        @include shadow-box;
        &:hover {
            background-color: lighten($primary-color, 35%);
        }
        
        /*boite chiffrée indiquant la liste*/
        .navigate__box{
            display: block;
            height: 3.5vh;
            width: 3.5vh;
            border-radius: 50%;
            position: absolute;
            color: #fff;
            line-height: 3.3vh;
            left: -1.48vh;
            bottom: 3vh;
            background-color: $primary-color;
            
        }

        i{
            right: 35%;
        }
        
        
}}