/* animation chargement page */

@keyframes lissage {
    from {
      transform: translateY(10px);
      opacity: 0;
      
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .plat__1 {
    animation: lissage 1s;
    
  }
  .plat__2{
    animation: lissage 1.5s;
  }
  
  .plat__3{
    animation: lissage 2.5s;
  }

  /* animation coeur */
  @keyframes heart-a2 {
    from {
      transform: scale(.5);
      color: $primary-color;
      font-weight: bold;
      }
    to {
      transform: scale(1);
      color: $secondary-color;
      font-weight: bold;
    }
  }  
    







  