
/*mise en place de la page et la police et les liens cliquables*/
* {
    box-sizing: content-box;
    
    font-size: 1.8vh;
    
}
body{
    font-family: 'roboto';
    overflow-x: hidden visible;
    margin: 0;
    padding: 0;
    width: 100%;

}


@font-face {
    
    font-family: 'shrikhand';
    src: url('font/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'robotoLight';
    src: url('font/Roboto-Light.ttf');
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style-type: none;
}
