@media (min-width: 992px) {

    /*index */
    body {
        width: 100%;
    }
    .spinner, .spinner__container {
        display: none;
    }
    header {
        background: $background-main;
        height: 15vh;
        img{
            margin: 2vh;
            height: 5vh;
        }
        .spinner {
            display: none;
        }
    }
    #localisation div {
        
        border-top: none;
    margin: auto;
    background:$background-main;
        position: relative;
        i{
            display: none;
        }
        input{
            margin: 33vw;
            width: 17vw;
            height: 3.7vh;
           
        }
        button {
            border: none;
            height: 4vh;
            width: 15vw;
            position: absolute;
            background: $gradient;
            color: #fff;
            top: 20%;
            right: 34%;
            display: block;
            &:hover{
                cursor: pointer;
            }
        }
    }
   #localisation {
    margin-top: 1vh;
    
   }
    #explore {
        background-color: #fff;
        position: relative;
        height: 20vh;
        margin-top: 5%;
        h1{
            font-size: 2vw;
            margin-left: 5%;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            
        }
        span {
            font-size: 1.5vw;
            white-space: nowrap;
            margin-right: 43%;
            
        }
        button {
            position: absolute;
            margin-left: 3vh;
            bottom: 42%;
            right: 15%;
        }
}
       #navigate {
           
           
           margin-top: 10vh;
           display: flex;
           
           justify-content: flex-start;
           
           
           height: 25vh;
           h1{
               font-size: 175%;
               line-height: 185%;
               text-overflow: ellipsis;
           }
         a {
            
             margin-left: 1%;
         }
           nav {
               display: flex;
               
              
           }


           .navigate__nav {
               
               display: inline-block;
               width: 20vw;
               height: 8vh;
               line-height: 8vh;
               font-size: 1vw;
               margin-left: 5vw;
               .navigate__box {
                   bottom: 75%;
                   left: 48%;
               }
               i{
                   bottom: 35%;
                   right: 38%;
               }
               
               
           }

        }

        #restaurant{
            height: 100vh;
            
        }
        .restaurant__group{
       flex-direction: row;
       margin-right: 1vw;
       row-gap: 2vw;
            

        }
        .restaurant__card {
            h2 {
                font-size: 1.3rem;
            }
            span {
                font-size: 1.2rem;
            }
            
            height: 75vh;
            img {
                height: 85%;
                object-fit: cover;
            }
            i {
                bottom: 5%;
            }
        }
    footer {
        height: 40%;
        h3 {
            text-align: center;
            
        }
        nav {
            flex-direction: row;
            justify-content: space-between;
            margin-right: 2vw;
            padding-bottom: 5vh;
            
           a {
               
               font-size: 2vh;
               font-weight: 100;
            }
        }
    }
    }
        

