@media only screen and (min-width: 992px) {
    /*format desktop */
    body {
        background-color:#f7f3fd;
    }
    header p{
        margin-left: 85vw;
        margin-top: 7vh;
        display: inline-block;
        color: #000;
        font-size: 2vh;
        white-space: nowrap;
    }

    header{
        .fa-solid{
        display: none;
    }

    
}
.background__image3,.background__image2, .background__image4,.background__image1 {
   position:absolute;
   top: 10rem;
    opacity: 0.8;
    border-radius: 25px;
    height: 108.3rem;
    width: 80%;
    margin-left: 10rem;
    object-fit: cover;
    
}
.background__image2{
    height: 114.3rem;
}
.menu__totality__taller{
.background__menu {
    height: 106.6rem;
}}
#menu__totality {
.check {
    top: 75%;
    right: 75%;
} 

   
}
.background__menu
{   width: 50%;
    margin-left: 25%;
    height: 100.6rem;
    opacity: 0.9;



}
.menu__title {
    margin-left: 47%;
    .border {
        width: 6%;
        padding-bottom:115px;
    }
    }
.plat__1, .plat__2,.plat__3 {
    width: 30%;
    
    height: 6%;
    margin: auto;
    
}

.bloc-titre__like{
   margin-left: 22%;
   margin-top: 10rem;
   
   
   
   i{
       

       &:active { 
        animation: heart-a2 3s .2s both;
        cursor: pointer;
        transform-origin: 50% bottom;
}
   }
   
   h1 {
       position: relative;
       font-size: 155%;
}
}
.plat__1:hover, .plat__2:hover, .plat__3:hover{
    width: 35%;
    
    .check{
        transform: translateX(95%);
        transition: transform 0.5s;
        z-index:2;
        opacity: 1;
        
        }
        .cross{
          transform:rotate(310deg);
          transition: transform 1s;
        }
}
.cross {
    top: 40%;
    right: 42%;
}
.check {
    height: 100%;
    width: 15%;
}
.entree__button {
height: 35%;
width: 35%;
}
h3 {
    padding: 2%;
    
}
.bloc-titre__like div {
    position: absolute;
    height: 10vh;
    width: 10vh;
    font-size: 3vh;
    left: 70%;
    top: 25%;
}
.button__main-page {
    margin-left: 45%;
}
}