/*format mobile */
#restaurant {
    background: $grey-background;
    height: 140vh;
    width: 100%;
    h1{
        
        font-size: 2.8vh;
        margin: 5vh;
        display: inline-block;
    }
    }
    .background__image1 {
        background-image: url(images/restaurants/cite_rouge.jpg);
        background-size: cover;
    background-repeat: no-repeat;
        height: 30vh;
        width: 100%;
        position: relative;
        z-index: -2;
}
.background__image2 {
    background-image: url(images/restaurants/charonne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 30vh;
        width: 100%;
        position: relative;
        z-index: -2;
    }
.background__image4{
    background-image: url(images/restaurants/folie_mericourt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 30vh;
        width: 100%;
        position: relative;
        z-index: -2;
} 
.background__image3{
    background-image: url(images/restaurants/menilmontant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 30vh;
        width: 100%;
        position: relative;
        z-index: -2;
}    

    .menu__totality{
        height: 180vh;
    }

    .menu__totality__taller{
        height: 190vh;
    }
    
    .menu__totality, .menu__totality__taller {
        
        width: 100%;
        h2{
            font-family: 'robotoLight';
            font-size: 2vh;
            font-weight: 200;
            margin: 2vh;
            
        }
        h3 {
            margin: 1vh;
            font-size: 2.5vh ;
            text-align:left;
            
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
     .background__menu {
         position: absolute;
        top: 32vh;
        height: 180vh;
        width: 100%;
        background-color: $background-main;
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
        z-index: -1;
     }
    .button {
        width: 35%;
        
    }
     .bloc-titre__like {
         justify-content: space-evenly;
         display: flex;
         
         margin-left: 3vh;
         
         h1{
             font-family:'Shrikhand';
             font-weight: 300;
             font-size: 137%;
             margin-right: 30%;
         }
         div i{
             padding-top: 103%;
             
             
             font-size: 117%;
         }
        
     }
     .menu__title{
         position: relative;
         margin-top: 5vh;
     }
     .border {
        position: absolute;
        width: 5vh;
        height: 0;
        margin-left: 2vh;
        top: 2.8vh;
    
        border-top: solid 3px $third-color;
        
    }
    
    .plat__1, .plat__2,.plat__3 {
        height: 9vh;
        width: 95%;
        border-radius: 2vh;
        margin: 1vh;
        
        margin-top: 2vh;
        @include shadow-box;
        position: relative;
        background-color: #fff;
      }
    
      .plat__1:hover, .plat__2:hover, .plat__3:hover {
        cursor: pointer;
        width:75.5%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: width 0.7s;
        
        
        
    
      
    .check{
        transform: translateX(95%);
        transition: transform 0.5s;
        z-index:2;
        opacity: 1;
        
        }
        .cross{
          transform:rotate(310deg);
          transition: transform 1s;
        }
        
      }
      
      .check {
        transform: translateX(50%);
        
      }
      .cross {
      
        width: 0.5vh;
        height: 0.3vh;
        border-bottom: solid .2em $third-color;
        border-left: solid .2em $third-color;
        border-top: none;
        border-right: none;
        cursor: pointer;
        position: absolute;
        background-color: #fff;
        
        top: 45%;
        right: 41%;
      }
      .check {
        position: absolute;
        height: 9.1vh;
        width: 20vw;
        opacity: 0;
        background-color: $third-color;
        right: 0;
        top: 0;
        border-top-right-radius: 2vh;
        border-bottom-right-radius: 2vh;
        @include shadow-box;
    }
    
    .description {
        
        margin-left: 2%;
        margin-top: 3px;
        font-family: 'robotoLight';
        font-size: 2vh;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
    }
    .price {
        
        
        white-space: nowrap;
     margin-right: 4%;
     
    
    margin-top: 3px;
    font-weight: bold;
    font-size: 2vh;
    
    
    
    
    
    }
    
    .text{
        display: flex;
        justify-content: space-between;

        p{
            display: block;
        }

    
}
.button__main-page {
    margin-left: 20%;
    margin-top: 5%;
}