/*forme et couleurs des boutons principaux avec survol*/
.button{
    background: $gradient;
     border-radius: 30vh;
     width: 33vh;
     height: 8vh;
     margin: auto;
    margin-top: 4vh;
    color: #fff;
    font-size: 2.3vh;
    font-weight: bolder;
    border: none;
    &:hover {
        background: $gradient-hover;
        cursor: pointer;
        
    }
   
           
    }    