/*forme et couleurs des boutons principaux avec survol*/
.button{
    background: $gradient;
     border-radius: 30vh;
     width: 33vh;
     height: 8vh;
     margin: auto;
    margin-top: 4vh;
    color: #fff;
    font-size: 2.3vh;
    font-weight: bolder;
    text-align: center;
    line-height: 7vh;
    margin-top: 8vh;
    border:none;
    &:hover {
        background: $gradient-hover;
        cursor: pointer;
    }
   
    button {
        border:none;
    }
           
    }    

    .entree__button {
        height: 3vh;
        width: 3vh;
        background-color: white;
        margin: auto;
        margin-top: 3vh;

        border-radius: 50%;
        
      }