/*forme et couleurs des boutons principaux avec survol*/
.button{
    background: $gradient;
     border-radius: 30vh;
     width: 200px;
    padding: 18px; 
     
    margin-top: 4vh;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    
    
    border:none;
    &:hover {
        background: $gradient-hover;
        cursor: pointer;
        @include shadow-box-hover;
    }
   
    button {
        border:none;
    }
           
    }    

    .entree__button {
        height: 3vh;
        width: 3vh;
        background-color: white;
        margin: auto;
        margin-top: 3vh;

        border-radius: 50%;
        
      }