/*positionnement des icones et taille*/
/*icones navigation */
#navigate i{
    position: absolute;
    right: 14vh;
    bottom: 3.8vh;
    color: darken($localisation-color, 100%);
    width: 100%;
    font-size: 2.5vh;
    &:hover {
        color: $primary-color;
    }
    
}
/* fleche du header */
header i {
    font-size: 2.2vh;
    position: absolute;
    width: 2vh;
    top: 90%;
    left: 65%;
    color: black;
}

